<!DOCTYPE html>
<html lang="en" ng-app="myApps">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../Images/radiogag.png">
    <title>The 1975</title>
</head>
<body>
       
    <div class="container"  ng-controller="myCTRL"> 
        <script src="../Script/angular.js"></script>
        <script src="../Script/main.js"></script>
        <script src="../Script/angular-route.min.js"></script>
       
        <div class="overlay" id="mynav">
            <a href="javascript:void(0)" class="clsbtn" ng-click="closeNav()">&times</a>
            <div class="overlay-content">
                <a href="../The1975/the1975.html">Back</a>
                <a href="../The1975/matt.html">Members</a>
                <a href="../The1975/tour.html">Tour</a>
                <a href="#">Contact Us</a>
                <a href="#">Sponsor</a>
            </div>
        </div>
        <!-- siderbar -->
        <div class="left">
            <span class="pan" ng-click="openNav()">&#9776;</span>
        </div>
        <div class="right"></div>
        <h2>sad</h2>
        <!-- siderbar -->
        <!-- HOMEPAGE -->
                    <div class="center">
                        <div class="head">
                              <section>
                                  <h1>HOMEPAGE</h1>
                              </section>
                        </div>
                        <div class="one"></div>
                        <div class="two">
                            <div class="paper">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate autem quo distinctio aperiam, praesentium, illum accusantium nulla asperiores eum aliquid voluptas consequatur doloremque velit? Fugiat, ipsam amet repellat laborum voluptatibus esse distinctio aliquam provident dolore facilis quia? Eligendi veritatis voluptatibus sapiente dolorum aut illo quasi, amet dolore voluptatum cupiditate, aliquam pariatur earum aperiam? Obcaecati eos adipisci iure at non odit, aspernatur rerum maiores suscipit. Temporibus, laudantium error sit exercitationem est perferendis earum omnis, sed ab veniam dolor repellendus ex saepe debitis? Quam quibusdam alias laboriosam sapiente minima sed. Cum nam fugit corrupti, architecto hic molestias. Reprehenderit optio ratione cupiditate et?</p>
                             
                            </div>
                        </div>
                        <div class="three">
                            <div class="paper">
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit eius tempore architecto, ipsam accusantium, in iste exercitationem nesciunt voluptates error cupiditate recusandae quisquam officia blanditiis. Eos ducimus facilis provident vero minima fuga fugit saepe suscipit, sequi dignissimos veritatis quaerat sint quas assumenda voluptatibus quisquam consequuntur maiores debitis cumque! Aut quidem tenetur accusantium porro officiis ipsa temporibus excepturi quod ipsum enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, unde! Doloremque, ab necessitatibus. Provident corrupti tempora commodi maxime nemo, ipsum officia? Hic, tempore sint. Nihil fuga ad nulla cumque voluptatem.</p>
                                     
                            </div>
                        </div>
                        <div class="four"></div>
                        <div class="five"></div>
                        <div class="six">
                            <div class="picure">
                                <video src="./1975Videos/Too Time (live) - The 1975 at 2019 Hangout Music Festival.mp4" controls></video>
                            </div>
                            <div class="paper">
                                <section>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, in! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum pariatur modi porro deserunt voluptate, fugiat ea quia reprehenderit, architecto dolorem tempora impedit nulla nam! Debitis cupiditate hic modi adipisci accusamus, enim, iusto culpa rem quibusdam eius esse asperiores maxime, cum tempore eaque reiciendis rerum corporis magnam? Iste aperiam quis delectus!</p>
                            </section>
                            </div>
                        </div>
                       
                    </div>
    </div>
</body>
</html>